<header class="signed-out-header">
  <nav class="clear-fix">
    <div class="logo">logo</div>
    <div class="opposite-logo">Language: English &#x25BE;</div>
  </nav>
</header>

<main class="new-session form-main">

  <h1>Sign in to Twitter</h1>

  <form action="<%= session_url %>" method="POST">
    <%= authenticity_token %>
    <input class="email-textbox sign-in-textbox"
      type="text"
      name="user[email]"
      placeholder="Email">

    <input class="password-textbox sign-in-textbox"
      type="password"
      name="user[password]"
      placeholder="Password">

    <button class="blue-button">Sign in</button>
  </form>
  
  <button class="guest-sign-in-button blue-button">Guest sign in</button>
  <br>

  <a href="/auth/facebook">Sign in with Facebook</a>

</main>

<footer class="sign-in-footer">
  <div>
    New to Twitter?
    <a href="<%= new_user_url %>"> Sign up now &raquo;</a>
  </div>
  <div>
    Already using Twitter via text message?
    <a href="#"> Activate your account &raquo;</a>
  </div>
</footer>

<script>
  $(document).ready(function() {
    $('.guest-sign-in-button').on('click', function(event) {      
      event.preventDefault();
      $('.email-textbox').val('charlie@brown.com');
      $('.password-textbox').val('123456');
    });
  });
</script>
