<h1>Sign in to Twitter</h1>

<form action='<%= session_url %>' method='POST'>
  <input type='text' name='user[email]' placeholder='Email'>
  <input type='password' name='user[password]' placeholder='Password'>
  <button>Sign in</button>
</form>

New to Twitter? <a href='<%= new_user_url %>'>Sign up now &raquo;</a>