<header class="user-header-banner"></header>

<header class="user-header clear-fix">
  <nav>
    <ul class="clear-fix">
      <li><a id="tweets-link" href="#">TWEETS</a></li>
      <li><a id="following-link" href="#">FOLLOWING</a></li>
      <li><a id="followers-link" href="#">FOLLOWERS</a></li>
      <li>
        <% if (user === TwitterClone.currentUser) { %>
          <div class="profile-button-container">
            <a href="#edit" class="white-button">Edit profile</a>
          </div>
        <% } else { %>
          <div class="profile-button-container">
            <%= JST['pages/follow_button']({ user: user }) %>
          </div>
        <% } %>
      </li>
    </ul>
  </nav>
</header>

<main class="clear-fix">
  <section class="user-left-section">
    <img class="user-avatar avatar" src="<%= user.escape('avatar_url') %>">

    <h2><%= user.escape('name') %></h2>
    <small>@<%= user.escape('username') %></small>
  </section>

  <section id="subview-container" class="center-section">
  </section>
</main>
