<div class="modal-overlay">
  <section class="new-tweet-modal">
    <header class="new-tweet-header clear-fix">
      <h3>Compose new Tweet</h3>
      <a class="exit" href="<%= root_url %>">&times;</a>
    </header>

    <main>
      <form class="new-tweet-form"
        action="<%= user_tweets_url(current_user) %>"
        method="POST">

        <%= authenticity_token %>
        <textarea class="new-tweet-textbox" name="tweet[body]"></textarea>
        <button class="new-tweet-button blue-button">Tweet</button>
      </form>
    </main>
  </section>
</div>