<h1>Compose new Tweet</h1>

<form action="<%= user_tweets_url(current_user) %>" method="POST">
  <%= authenticity_token %>
  <textarea name="tweet[body]"></textarea>

  <!-- <h4>Mentions</h4>
  <input type="text" name="tweet[mentioned_user_ids][]">
  <input type="text" name="tweet[mentioned_user_ids][]">
  <input type="text" name="tweet[mentioned_user_ids][]"> -->
  <button>Tweet</button>
</form>