<% if current_user.followeds.include?(user) %>
  <form action="<%= user_follows_url(user) %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <%= authenticity_token %>
    <button class="unfollow-button blue-button">
      <span>Following</span>
    </button>
  </form>
<% else %>
  <form action="<%= user_follows_url(user) %>" method="POST">
    <%= authenticity_token %>
    <button class="follow-button white-button">Follow</button>
  </form>
<% end %>