<h1>Account</h1>
<h4>Change your basic account and language settings.</h4>

<form action='<%= user_url(current_user) %>' method='POST'>
  <input type='hidden' name='_method' value='PATCH'>
  <%= authenticity_token %>

  <label for='edit-username'>Username</label>
  <input type='text' name='user[username]' value='<%= current_user.username %>'>

  <label for='edit-email'>Email</label>
  <input type='text' name='user[email]' value='<%= current_user.email %>'>

  <button class='blue-button'>Save changes</button>
</form>

<a href='#'>Deactivate my account</a>