<h2><%= @user.name %></h2>
<small>@<%= @user.username %></small>

<h3>Tweets</h3>

<ul>
  <% @user.tweets.each do |tweet| %>
    <li><%= render partial: 'tweets/preview', locals: { tweet: tweet } %></li>
  <% end %>
</ul>