<main class="clear-fix">
  <section class="left-section">
    <%= render partial: 'pages/user_card', locals: { user: current_user } %>
  </section>

  <section class="center-section">
    <ul class="tweets-list">
      <li class="tweets-list-top"><h1>Tweets</h1></li>
      <%= render partial: 'tweets/tweets', locals: { tweets: @tweets } %>
    </ul>
  </section>
</main>

