<div id="header"></div>
<div id="content">
  <article class="loading">
    <img class="loading-img" src="<%= asset_url('loading.gif') %>">
  </article>
</div>

<script>
  $(document).ready(function(){
    window.currentUserId = <%= current_user.id %>;
    TwitterClone.initialize();
  });
</script>