<h2>Results for <%= @query %></h2>

<ul>
  <% @search_results.each do |result| %>
    <li>
      <%= render partial: 'pages/search_result', locals: { result: result } %>
    </li>
  <% end %>
</ul>




