<header class="signed-in-header">
  <nav class="clear-fix">
    <ul class="left clear-fix">
      <li class="icon">
        <a class="clear-fix" href="#">
          <img src="/images/house.png">
          <span class="header-text">Home</span>
        </a>
      </li>
      <li class="icon">
        <a class="clear-fix" href="#mentions">
          <img src="/images/bell.png">
          <span class="header-text">Notifications</span>
        </a>
      <li class="icon">
        <a class="clear-fix" href="#">
          <img src="/images/hashtag.png">
          <span class="header-text">Discover</span>
        </a>
      </li>
      <li class="icon">
        <a class="clear-fix" href="#users/<%= TwitterClone.currentUser.id %>">
          <img src="/images/profile.png">
          <span class="header-text">Me</span>
        </a>
      </li>
    </ul>

    <ul class="right clear-fix">
      <li>
        <form id="search-form">
          <input class="search-bar"
            type="text"
            name="query"
            placeholder="Search Twitter">
        </form>
      </li>
      <li>
        <a class="clear-fix" href="#">
          <img src="/images/message.png">
        </a>
      </li>
      <li class="dropdown-icon clear-fix">
        <img src="/images/gear.png">
        
        <div class="dropdown-container">
          <ul class="dropdown">
            <li><a href="#edit">Settings</a></li>
            <li><a id="sign-out-button" href="#">Sign out</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a id="new-tweet" href="#tweets/new">Tweet</a>
      </li>
    </ul>
  </nav>
</header>