<section class="left-section">
  <%= JST['pages/user_card']({ user: user }) %>
</section>

<section class="center-section">
  <ul class="tweets-list">
    <li class="tweets-list-top"><h1>Tweets</h1></li>
    <% tweets.forEach(function(tweet) { %>
      <%= JST['tweets/preview']({ user: tweet._user, tweet: tweet }) %>
    <% }); %>
  </ul>
</section>
