<section class="left-section">
  <!-- <div class="user-card">
    <header class="user-card-banner"></header>
    <main class="user-card-main">
      <%= JST['pages/user_card_info']({ user: TwitterClone.currentUser }) %>
    </main>
  </div> -->
  <%= JST['pages/user_card']({ user: TwitterClone.currentUser }) %>
</section>

<section class="center-section">
  <ul>
    <li class="search-list-top">
      <h2>Mentions</h2>
    </li>
    
    <ul class="tweets-list">
      <%= JST['tweets/tweets']({ tweets: tweets }) %>
    </ul>
  </ul>
</section>
