<section class="left-section">
  <div class="user-card">
    <header class="user-card-banner"></header>
    <main class="user-card-main">
      <%= JST['pages/user_card_info']({ user: TwitterClone.currentUser }) %>
    </main>
  </div>
</section>

<section class="center-section">
  <ul>
    <li class="search-list-top">
      <h2>Results for 
        <strong> <%= decodeURIComponent(querySubject) %></strong>
      </h2>
      <h5>Top / All</h5>
    </li>

    <% if (users.length > 0) { %>
      <div class="users-list-container">
        <h4>People</h4>
        <ul class="users-list clear-fix">
          <% users.forEach(function(user) { %>
            <li>
              <%= JST['pages/user_result']({ user: user }) %>
            </li>
          <% }); %>
        </ul>
      </div>
    <% } %>

    <ul class="tweets-list"></ul>
  </ul>
</section>




