/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Reset */

html, body, main, section, article, aside, div,
span, p, h1, h2, h3, h4, h5, big, small, ul, li,
a, input, textarea, button, img, footer, header, nav {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  background: transparent;
  box-sizing: content-box;
  outline: none;
  font-weight: normal;
  text-decoration: none;
  color: black;
  list-style: none;
  resize: none;
}

/* Utilities */

.clear-fix:after {
  content: '';
  display: block;
  clear: both;
}

/* General */

body {
  background: #E2E6E9;
  font-family: tahoma;
  color: black;
  font-size: 14px;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
}

small {
  color: #aaa;
}

input, textarea {
  display: block;
  border-radius: 3px;
  padding: 3px 5px;
  border: 1px solid #ddd;
  height: 25px;
  width: 200px;
  margin: 15px 0 15px 0;
}

input:focus {
  border: 1px solid #3ad;
}

button:hover {
  cursor: pointer;
}

a {
  color: #58c;
}

a:hover {
  text-decoration: underline;
}

main {
  padding: 15px;
  width: 900px;
  margin: auto;
}

main > .left-section {
  float: left;
  width: 290px;
  margin-right: 15px;
  position: relative;
}

main > .center-section {
  float: left;
  border-radius: 10px;
  width: 590px;
}

.form-main {
  border: 1px solid #ddd;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 30px 120px 20px 120px;
  margin: auto;
  margin-top: 10px;
  width: 610px;
  background: #fff;
}

.blue-button {
  padding: 10px 15px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  background: #5ae;
  border: 1px solid #27c;
}

.blue-button:hover {
  background: #49d;
}

.blue-button:focus {
  border: 1px solid #5ae;
}

.white-button {
  padding: 10px 15px;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  background: #eee;
  border: 1px solid #ccc;
}

.white-button:hover {
  background: #ddd;
}

/* Headers */

.signed-out-header {
  height: 46px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 0 #eee;
  background: #fff;
}

.signed-out-header a {
  color: #777;
}

.signed-out-header a:hover {
  text-decoration: none;
}

.signed-out-header > nav {
  padding: 0 15px;
  margin: auto;
  width: 820px;
}

.signed-out-header > nav > .logo {
  float: left;
  padding: 13px 0;
}

.signed-out-header > nav > .opposite-logo {
  float: right;
  padding: 15px 0;
  font-size: 13px;
}

.signed-in-header {
  height: 46px;
  background: #fff;
  box-shadow: 0 2px 0 #C7CDCF;
}

.signed-in-header > nav {
  width: 900px;
  padding: 0 15px;
  margin: auto;
}

.signed-in-header > nav > ul > li {
  padding: 13px 5px;
}

.signed-in-header > nav > .left {
  float: left;
}

.signed-in-header > nav > .left > li {
  float: left;
}

.signed-in-header > nav > .center {
  float: left;
}

.signed-in-header > nav > .right {
  float: right;
}

.signed-in-header > nav > .right > li {
  float: left;
}

/* Avatars */

.avatar {
  height: 70px;
  width: 70px;
  border: 5px solid #fff;
  border-radius: 10px;
}

/* Search bar */

.search-bar {
  width: 200px;
  height: 25px;
  margin: 0;
  border: none;
  background: #929BA2;
  color: #fff;
  border-radius: 15px;
  margin-top: -5px;
  padding-left: 15px;
}

.search-bar:focus {
  border: none;
  background: #465368;
}

