// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-card .user-card-banner {
  height: 90px;
  background: #105B92;
  border-radius: 5px 5px 0 0;
  padding: 0;
}

.user-card-main {
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: 0;
  width: 268px;
  padding: 10px;
}

.user-card-info {
  position: relative;
  height: 45px;
}

.user-card-avatar {
  position: absolute;
  top: -40px;
}

.user-card-info-name {
  position: absolute;
  left: 85px;
  top: -5px;
}

.user-card small {
  font-size: 12px;
}

.user-card-links > li {
  float: left;
}

.user-card-links a {
  display: block;
  padding-right: 29px;
}

.user-card-links a:hover {
  text-decoration: none;
}

.user-card-links a h3 {
  color: #0D70A4;
}

.user-card-footer {
  background: #DFEEF4;
  padding: 12px;
  border: 1px solid #B3D8E7;
  border-radius: 0 0 5px 5px;
}

.user-card-footer #user-card-new-tweet {
  background: #fff;
  border: 1px solid #B3D8E7;
  border-radius: 5px;
  padding: 10px;
  color: #758695;
}

.user-card-footer #user-card-new-tweet:hover {
  cursor: text;
}

.user-card-footer #user-card-new-tweet-form {
  position: relative;
}

.user-card-footer .new-tweet-textbox {
  width: 252px;
}

.user-card-button.new-tweet-button.blue-button {
  position: static;
  float: right;
  margin-top: 10px;
}

.user-card-footer .character-count {
  position: absolute;
  bottom: 10px;
  left: 145px;
}

// User search results

.search-results .search-list-top {
  text-align: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
  padding: 15px;
  margin-bottom: 10px;
}

.search-list-top h2 {
  margin-bottom: 5px;
  color: #666;
}

.search-results .users-list-container {
  text-align: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 40px;
  position: relative;
}

.search-results .users-list-container > h4 {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  color: #999;
}

.search-results .users-list {
  display: inline-block;
  text-align: left;
}

.user-result.user-container {
  height: 195px;
  width: 195px;
}

.user-result.user-container .banner {
  height: 60px;
}

.user-result.user-container .avatar-container {
  position: static;
  float: none;
}

.user-result.user-container .avatar-container .avatar {
  position: static;
  margin-top: -30px;
  margin-left: 10px;
}

.user-result.user-container h3 {
  font-size: 14px;
}

.user-result.user-container main {
  margin: 0;
  padding: 0 15px;
  float: none;
}

.user-result.user-container > main > .follow-button-container {
  float: none;
  padding: 10px 0;
}





