// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Tweets general

.tweet-avatar {
  float: left;
}

.tweet-avatar > .avatar {
  height: 50px;
  width: 50px;
}

// New tweet

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}

.new-tweet-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  background: #DFEEF4;
  height: 225px;
  width: 520px;
  border-radius: 5px;
  margin-left: -260px;
  margin-top: -150px;
}

.new-tweet-modal > .new-tweet-header {
  background: #fff;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #B3D8E7;
  text-align: center;
  padding: 10px;
  position: relative;
}

.new-tweet-modal > .new-tweet-header > h3 {
  color: #768796;
}

.new-tweet-modal > .new-tweet-header > .exit {
  position: absolute;
  top: 9px;
  right: 15px;
  color: #768796;
  font-size: 18px;
}

.new-tweet-modal > .new-tweet-header > .exit:hover {
  text-decoration: none;
}

.new-tweet-modal .new-tweet-textbox {
  border: 1px solid #B3D8E7;
  width: 479px;
  height: 99px;
  border-radius: 2px;
  display: block;
  background: #fff;
  margin: 0;
}

.new-tweet-form {
  position: relative;
}

.new-tweet-button.blue-button {
  display: block;
  position: absolute;
  background: #0D70A4;
  margin-top: 10px;
  left: 405px;
  padding: 10px 20px;
}

.new-tweet-button.blue-button:hover {
  background: #0F598F;
}

// Tweets list

.tweets-list {
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
}

.tweets-list > .tweets-list-top {
  padding: 10px 15px;
}

.tweets-list > .tweets-list-top > h3 {
  float: left;
  padding-right: 30px;
}

.tweets-list > li {
  border-top: 1px solid #ddd;
}

.tweets-list > li:first-child {
  border-top: none;
}

.tweet-preview {
  padding: 10px;
}

.tweet-preview > .tweet-body {
  float: left;
  width: 495px;
}

// Tweet show page

.tweet-main {
  width: 570px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: auto;
  margin-top: 15px;
  padding: 25px 35px;
  background: #fff;
}

.tweet-main .tweet-names {
  float: left;
  padding: 10px 5px;
}

.tweet-main .tweet-names a {
  color: #000;
}

.tweet-main .tweet-names a:hover {
  color: #58c;
}

.tweet-main > .tweet-body {
  font-size: 30px;
  margin-top: 10px;
}

