// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-header-banner {
  height: 200px;
  background: #0D70A4;
}

.user-header {
  border: 1px solid #ccc;
  background: #fff;
}

.user-header > ul {
  float: right;
}

.user-header > ul > li {
  float: left;
}

.user-header > ul > li > a {
  padding: 15px;
  display: block;
}

.user-avatar.avatar {
  position: absolute;
  top: -180px;
  left: 0;
  width: 200px;
  height: 200px;
}


