// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// New user

.new-user.form-main {
  border-radius: 10px;
}

.new-user > h1 {
  font-weight: bold;
  margin-bottom: 30px;
}

.new-user > form > label {
  font-weight: bold;
}

.new-user input {
  width: 390px;
  margin-top: 5px;
}

.new-user-button {
  background: #FAD22A;
  border: 1px solid #FA891E;
  border-radius: 5px;
  width: 390px;
  padding: 10px 5px;
  text-align: center;
  font-weight: bold;
}

.new-user-button:hover {
  background: #EABE23;
}

// User show

.user-header-banner {
  height: 200px;
  background: #0D70A4;
}

.user-header {
  border: 1px solid #ccc;
  background: #fff;
}

.user-left-section {
  position: relative;
  float: left;
  width: 300px;
  padding-top: 40px;
  padding-left: 10px;
}

.user-header > ul {
  float: right;
}

.user-header > ul > li {
  float: left;
}

.user-header > ul > li > a {
  padding: 15px;
  display: block;
}

.user-avatar.avatar {
  position: absolute;
  top: -180px;
  left: 0;
  width: 200px;
  height: 200px;
}

// Buttons

.unfollow-button.blue-button span:after {
  content: 'Following';
  color: #fff;
  font-weight: bold;
}

.unfollow-button.blue-button:hover {
  background: #c22;
  border: 1px solid #a00;
}

.unfollow-button.blue-button:hover span:after {
  content: 'Unfollow';
}

// Follows list

.users-list > li{
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.user-container {
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 10px;
  width: 283px;
  height: 278px;
}

.user-container .banner {
  height: 100px;
  background: #4ce;
  border-radius: 10px 10px 0 0;
}

.user-container .avatar-container {
  float: left;
  position: relative;
}

.user-container .follow-avatar {
  position: absolute;
  top: -35px;
  left: 10px;
}

.user-container .follow-button-container {
  float: right;
  padding: 15px;
}

.user-container .follow-button-container .follow-button {
  font-size: 12px;
  padding: 5px 20px;
}

.user-container .follow-button-container .unfollow-button {
  font-size: 12px;
  padding: 5px 20px;
}

.user-container > main {
  margin-top: -20px;
  width: 253px;
}

// Edit user

.edit-user .user-card-main {
  border-radius: 0 0 5px 5px;
}

.edit-user .center-section {
  background: #fff;
}

.edit-user header {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.edit-user footer {
  padding: 30px;
  border-top: 1px solid #ddd;
}

.edit-user form {
  width: 350px;
}

.edit-user input {
  display: inline;
}

.edit-user form div {
  float: right;
}

.edit-user form div label {
  margin-right: 20px;
}

.edit-user-button-container {
  margin-right: 85px;
}

.edit-user footer a {
  margin-left: 122px;
}

.edit-user #edit-avatar {
  border: 0;
}







