// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signed-out-header a {
  color: #777;
}

.signed-out-header a:hover {
  text-decoration: none; 
}

.user-main {
  margin: auto;
  width: 820px;
}