<ul>
  <li><a href='#'>Home</a></li>
  <li><a href='#'>Notifications</a></li>
  <li><a href='#'>Discover</a></li>
  <li><a href='#'>Me</a></li>
  <li>
    <a href='<%= new_user_tweet_url(current_user) %>'>
      Compose new Tweet
    </a>
  </li>
</ul>