<header class='signed-out-header clear-fix'>
  <div class='logo'>logo</div>
  <div class='opposite-logo'>Language: English &#x25BE;</div>
  <div class='opposite-logo'>Have an account? <a href='<%= new_session_url %>'>Sign in &#x25BE;</a></div>
</header>